<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-i18n="dir=@@bidi_dir, lang=@@ui_locale">
<!-- Unfortunately, SlickGrid/jQuery doesn't work in XHTML (hence the .html) -->
<head>
<meta charset="utf-8" />
<title data-i18n="opts_title"></title>
<link rel="icon" sizes="16x16" type="image/png" href="../images/chromium-speech_input_mic_full-16.png" />
<link rel="stylesheet" type="text/css" href="../lib/SlickGrid/slick.grid.css" />
<link rel="stylesheet" type="text/css" href="../lib/SlickGrid/examples/slick-default-theme.css" />
<link rel="stylesheet" type="text/css" href="../css/options.css" />
</head>
<body>
<aside id="version">
	<ul>
		<li data-i18n="version_message"></li>
		<li><a data-i18n="changelog" href="http://purl.eligrey.com/github/voice-search/blob/master/changelog.md"></a></li>
		<li><a data-i18n="report_bug" href="http://purl.eligrey.com/github/voice-search/issues"></a></li>
		<li><a data-i18n="donate" href="https://www.wepay.com/donate/voice_search"></a></li>
	</ul>
</aside>
<h1 data-i18n="opts_title"></h1>
<form id="options">
	<fieldset>
		<legend data-i18n="opts_search_engines"></legend>
		<p data-i18n="opts_default_engine"></p>
		<p data-i18n="opts_uri_format"></p>
		<div id="search-engines-container">
			<div id="search-engines"></div>
		</div>
		<p>
		<div id="delete-search-engine" data-i18n="opts_delete_search_engine"></div>
	</fieldset>
	<fieldset>
		<legend data-i18n="opts_website_integration"></legend>
		<div>
			<label for="website-integration" data-i18n="opts_website_integration_label">
				<select id="website-integration">
					<option data-i18n="opts_website_integration_all" value="all"></option>
					<option data-i18n="opts_website_integration_search" value="search"></option>
					<option data-i18n="opts_website_integration_none" value="none"></option>
				</select>
			</label>
		</div>
	</fieldset>
	<section class="actions">
		<input type="button" id="save" data-i18n="value=opts_save_button" />
		<input type="button" id="restore-defaults" data-i18n="value=opts_restore_defaults_button" />
		<span id="status"></span>
	</section>
</form>
<script type="application/ecmascript" src="../lib/chromium-i18n.js"></script>
<script type="application/ecmascript" src="../js/default-options.js"></script>

<script type="application/ecmascript" src="../lib/SlickGrid/lib/jquery-1.4.3.min.js"></script>
<script type="application/ecmascript" src="../lib/SlickGrid/lib/jquery-ui-1.8.5.custom.min.js"></script>
<script type="application/ecmascript" src="../lib/SlickGrid/lib/jquery.event.drag-2.0.min.js"></script>
<script type="application/ecmascript" src="../lib/SlickGrid/lib/jquery.event.drop-2.0.min.js"></script>

<script type="application/ecmascript" src="../lib/SlickGrid/slick.grid.js"></script>
<script type="application/ecmascript" src="../lib/SlickGrid/slick.editors.js"></script>

<script type="application/ecmascript" src="../js/options.js"></script>
</body>
</html>